body {
    background-image: url('file:///C:/Users/cezar/OneDrive/%C3%81rea%20de%20Trabalho/projeto.html/Design%20sem%20nome%20(1).png');
		    background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100%;
}

